archiv/Makefile
out
.vscode/keybindings.json
.vscode/settings.json
archiv/define.h
archiv/error.c
archiv/error.h
archiv/includes.h
archiv/instruction.c
archiv/instruction.h
archiv/macros.h
archiv/main.c
archiv/parser.c
archiv/parser.h
archiv/rozdeleni
archiv/scanner.c
archiv/scanner.h
archiv/string.c
archiv/string.h
archiv/symtable.c
archiv/symtable.h
archiv/xzaple36.tgz
Interpret/*
Source/error.o
Source/IFJ17
Source/out
Source/outer
Source/parser.o
Source/scanner.o
Source/string.o
Source/symtable.o
Tests/linput1
Tests/xzaple36.tar.gz
